

<div fxFlex>
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let ticket of tickets">
      <mat-grid-tile-header>
        <h1 mat-line style="text-align:center">{{ticket._id}}</h1>
      </mat-grid-tile-header>
      <qr-code [value]="getqr(ticket)" [size]="300"></qr-code>
      <mat-grid-tile-footer>
        <h1 mat-line style="text-align:center">{{ticket.isUsed}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>


