<nav class="navbar sticky-top navbar-expand-md navbar-dark double-nav scrolling-navbar top-nav-collapse">
  <a class="navbar-brand" routerLink="/">SikeEvents</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/concerts">Concerts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="Logout()" routerLink="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
