<!-- Login form -->
<div class="card col-sm-4 offset-sm-4 ">
  <div class="card-body">
    <form [formGroup]="loginForm">

      <p class="h4 text-center py-4">Sign in</p>

      <label for="defaultForm-email" class="grey-text font-weight-light">Your login</label>
      <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control">
      <br>
      <label for="defaultForm-pass" class="grey-text font-weight-light">Your password</label>
      <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control">

      <div class="text-center">
        <br>
        <input type="submit" class="btn" (click)="LogIn()" style="background-color: #007bff" mdbWavesEffect value="Login">
      </div>
    </form>
    <div class="modal-footer flex-center mx-5 pt-3 mb-1">
      <p class="font-small grey-text d-flex justify-content-end">Not a member? <a routerLink="/register" class="blue-text ml-1"> Sign Up</a></p>
    </div>
  </div>
</div>
