<!--Main Navigation-->
  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 offset-md-2 text-center text-md-left mb-5">
              <div class="white-text">
                <h1 class="h1-responsive  font-bold wow fadeInLeft" data-wow-delay="0.3s">SikeEvents</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Сервис для организаторов концертов и для их активных посетителей. Тут вы можете просмотреть информацию о предстоящих концертах, выбрать понравившийся и купить билет. Организаторы, в свою очередь, могут размесить свои концерты</h6>
                <br>
                <div class="offset-md-1">
                  <a class="btn btn-outline-white wow fadeInLeft waves-light" (click)="onClick()" data-wow-delay="0.3s" mdbWavesEffect>Посмотреть концерты</a>
                  <a class="btn btn-outline-white wow fadeInLeft waves-light" (click)="onLoginClick()" data-wow-delay="0.3s" mdbWavesEffect>Войти</a>

                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

<!--Main Navigation-->
