<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="450px">
      <mat-grid-tile *ngFor="let concert of concerts" (click)="onClick(concert)">
        <img height="350px" src={{concert.image}} alt={{concert.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{concert.name}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
