<div class="container"
     fxLayout="row"
     fxFlexAlign="space-around center"
     fxLayoutGap="10px"
     layoutSm="column"
     layoutXs="column"
     gapXs="0"
     fxFlex
>

  <div fxFlex = "40">
    <mat-card *ngIf="concert">
      <mat-card-content>
        <img mat-card-image src={{concert.image}} alt={{concert.name}}>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex = "60">
    <mat-card *ngIf="concert">
      <mat-card-header>
        <mat-card-title>
          <h3>{{concert.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{concert.description}}</p>
        <p>{{concert.date | date}}</p>
        <p>Стоимость {{concert.price}} рублей</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onBuyClick()">Купить билеты!</button>
        <button mat-button>Поделиться с друзьями!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
