<!-- Register form -->
<div class="card col-sm-4 offset-sm-4 ">
  <div class="card-body">
    <form [formGroup]="regForm">

      <p class="h4 text-center py-4">Add event</p>

      <label for="defaultForm-name" class="grey-text font-weight-light">Name</label>
      <input type="text" formControlName="defaultFormName" id="defaultForm-name" class="form-control">
      <br>
      <label for="defaultForm-image" class="grey-text font-weight-light">Url of image</label>
      <input type="text" formControlName="defaultFormImage" id="defaultForm-image" class="form-control">
      <br>
      <label for="defaultForm-date" class="grey-text font-weight-light">Date</label>
      <input type="text" formControlName="defaultFormDate" id="defaultForm-date" class="form-control">
      <br>
      <label for="defaultForm-description" class="grey-text font-weight-light">Description</label>
      <textarea rows="5" type="text" formControlName="defaultFormDescription" id="defaultForm-description" class="form-control"></textarea>
      <br>
      <label for="defaultForm-price" class="grey-text font-weight-light">Price</label>
      <input type="number" formControlName="defaultFormPrice" id="defaultForm-price" class="form-control">

      <div class="text-center">
        <br>
        <input type="submit" class="btn" (click)="Add()" style="background-color: #007bff" mdbWavesEffect value="Add event">
      </div>
    </form>
  </div>
</div>
