<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active:infoActive}" (click)="infoClick()" id="info-tab" data-toggle="tab" role="tab" aria-controls="info"
       aria-selected="true">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active:boughtActive}" (click)="boughtClick()" id="bought-tab" data-toggle="tab" role="tab" aria-controls="bought"
       aria-selected="false">Bought tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active:eventActive}" (click)="eventsClick()" id="events-tab" data-toggle="tab" role="tab" aria-controls="events"
       aria-selected="false">My events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active:addActive}" (click)="addClick()" id="add-tab" data-toggle="tab" role="tab" aria-controls="add"
       aria-selected="false">Add event</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane" [ngClass]="{active:infoActive, fade:!infoActive}" id="info" role="tabpanel"
       aria-labelledby="info-tab"><app-info></app-info>
  </div>
  <div class="tab-pane" [ngClass]="{active:boughtActive, fade:!boughtActive}" id="bought" role="tabpanel"
       aria-labelledby="bought-tab"><app-bought></app-bought>
  </div>
  <div class="tab-pane" [ngClass]="{active:eventActive, fade:!eventActive}" id="events" role="tabpanel"
       aria-labelledby="events-tab"><app-event></app-event>
  </div>
  <div class="tab-pane" [ngClass]="{active:addActive, fade:!addActive}" id="add" role="tabpanel"
       aria-labelledby="add-tab"><app-add></app-add>
  </div>
</div>
