<!-- Register form -->
<div class="card col-sm-4 offset-sm-4 ">
  <div class="card-body">
    <form [formGroup]="regForm">

      <p class="h4 text-center py-4">Sign Up</p>

      <label for="defaultForm-name" class="grey-text font-weight-light">Name</label>
      <input type="text" formControlName="defaultFormName" id="defaultForm-name" class="form-control">
      <br>
      <label for="defaultForm-surname" class="grey-text font-weight-light">Surname</label>
      <input type="text" formControlName="defaultFormSurname" id="defaultForm-surname" class="form-control">
      <br>
      <label for="defaultForm-login" class="grey-text font-weight-light">Login</label>
      <input type="text" formControlName="defaultFormLogin" id="defaultForm-login" class="form-control">
      <br>
      <label for="defaultForm-email" class="grey-text font-weight-light">E-mail</label>
      <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control">
      <br>
      <label for="defaultForm-pass" class="grey-text font-weight-light">Your password</label>
      <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control">

      <div class="text-center">
        <br>
        <input type="submit" class="btn" (click)="Reg()" style="background-color: #007bff" mdbWavesEffect value="Sign Up">
      </div>
    </form>
  </div>
</div>
